# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# Environment
.env
backend/.env

# Node
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/server.*.log
docs/
# IDE/OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
